@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('../public/background.png')
}

button:hover {
    background-color: #f7fafc;
    color: #1a202c;
}
